<div>
  <form [formGroup]="imageGroup" class="container relative" (ngSubmit) = "onSubmit()">
    <app-file-input (afterChange)=observe() id="info" formControlName="info"> </app-file-input>
    <label class="anime-cntrl">
      <input type="checkbox" id="animation" formControlName="animation">
      <div class="container-label">
        <div class="prepend">
          <div class="arrow"></div>
        </div>
        <div class="body-label">
          <div class="text-top">
            from right to left

          </div>
          <div class="text-bottom">
            from left to right
          </div>
        </div>
        <span class="text-label"></span>

      </div>

    </label>
    <input class="btn submit" type="submit" value="Submit">
  </form>

  <div class="relative w-100 ">
    <div class="image absolute" [ngClass]="allowAnimation" [ngStyle]="style"></div>
  </div>

</div>


